<!DOCTYPE html>
<html>
  <head>
    <title>Horseinv</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag  "application" %> 
  </head>

  <body>
  <%= render "layouts/header" %>
    <%= yield %>
  <%= render "layouts/footer" %>
  </body>
</html>
